body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startPanel, #headPanel, #resultsPanel, #nameForm {
    text-align: center;
}

#headPanel > * {
    display: inline-block;
    padding-right: 20px;
}

.option {
    margin: 2px;
}

#startPanel, #resultsPanel, #nameForm, #questionCard {
    padding: 20px;
    border-style: solid;
    border-color: #B6C7D6;
    border-radius: 20px;
    background-color: #EAF0F6;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
  }

table {
    margin-bottom: 10px;
}